<div id="<%= dom_id matchup %>">
  <p>
    <strong>User champion:</strong>
    <%= matchup.user_champion %>
  </p>

  <p>
    <strong>User role:</strong>
    <%= matchup.user_role %>
  </p>

  <p>
    <strong>Ally team:</strong>
    <%= matchup.ally_team %>
  </p>

  <p>
    <strong>Enemy team:</strong>
    <%= matchup.enemy_team %>
  </p>

  <p>
    <strong>Ai response:</strong>
    <%= matchup.ai_response %>
  </p>

  <p>
    <strong>Riot match:</strong>
    <%= matchup.riot_match_id %>
  </p>

</div>
